GPUtil==1.4.0
numpy==1.23.3
pandas==1.4.4
psutil==5.9.2
pyJoules[nvidia]==0.5.1
python-dateutil==2.8.2
pytz==2022.2.1
six==1.16.0
vaex==4.13.0
dask==2022.9.1
loguru==0.6.0
tables==3.7.0
pynvml==11.4.1
